  .outline {
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px #e5e5e5 solid;
    display: inline-block;
  }
  .table {
    border-collapse: separate;
    border-spacing: 2px;
  }

  .table td{
    height: 10px;
    width: 10px;
 
  }
  .columnHeader {
    color: #767676;
    font-size: 9px;
    line-height: 20px;
  }
  .rowHeader {
    color: "#767676";
    padding-right: 5px;
    font-size: 9px;
    line-height: 10px;
  }

  .balloon {
    display: none;
  }

  .level0{
    background-color: #eee;
  }

  .level1{
    background-color: #5DBA6B;
  }

  .level2{
    background-color: #329D52;
  }

  .level3{
    background-color: #117C3D;
  }

  .level4{
    background-color: #006031;
  }

  .level5{
    background-color: #2BA5C3;
  }

  .level6{
    background-color: #197EB7;
  }

  .level7{
    background-color: #1E50A3;
  }

  .level8{
    background-color: #192B88;
  }

  .level9{
    background-color: #F58619;
  }

  .level10{
    background-color: #E06205;
  }

  .level11{
    background-color: #BD4300;
  }

  .level12{
    background-color: #8F2D00;
  }




 