.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calndar{
    width: 60%;
}

@media screen and (min-height:927px) { 
    .calndar{
        width: 100%;
    }
}